.DS_Store
.*.sw?
backend.tfvars
terraform.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.d/
terraform.tfstate.backup
.terraform.tfstate.lock.info
hashi-up
terraform
.tflint.d/
plan_file
