# These values must be provided to this module.
aws_region          = "ca-central-1"
basename            = "test1"
vpc_ipv4_cidr_block = "10.0.0.0/16"

# These values are commonly overridden.
create_nat_instances     = false # XXX FIXME TODO Set this to true when NAT instances are golden.
create_private_endpoints = false
how_many_nats            = 1
preserve_default_rules   = false
